{% extends "base.html"%}
{% block title %} Login Page {% endblock %}

{% block content%}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h5> Sign up here if you do not have an account</h5>
	<form action="/signup">
		<button>Sign up</button>
	</form>
	<br><br>
	<h5> Login here: </h5>
	<form action="#" method="post">
		<p>Username:</p>
		<p><input type="text" name="usrnm"/></p>
		<p>Password:</p>
		<p><input type="text" name="passwrd"/></p>
		<p><input type="submit" value="Login"/></p>
	</form>
{% endblock %}