{% extends "base.html" %}
{% block title %} {{name_user}} Page {% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h2>Welcome, {{name}}</h2>
	<br><br>
	<form action="#" method="POST">
		<input type="email" name="email" placeholder="Enter email" value="{{email if email}}"/>
		<input type="submit" name="submit">
	</form>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><form>
		<button type="submit" name="logout" formmethod="POST">Logout</button>
	</form>
{% endblock %}